/* Card summary */
.summary {
  width: 85%;
  max-width: 50rem;
  margin: 0 auto;
  max-width: 100%;
  padding: 3rem;
}

.summary__title {
  margin-bottom: 2rem;
  color: var(--dark-gray-blue);
}

@media (min-width: 768px){
  .summary__title {
    font-size: 2.4rem;
  }
}

.attribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
  border-radius: 15px;
}

.attribute__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.attribute__name {
  font-weight: 700;
}

.attribute__score {
  color: var(--light-lavander);
  font-weight: 700;
}

.attribute__value {
  color: var(--dark-gray-blue);
}

/* Reaction */
.attribute--reaction {
  background-color: var(--very-light-red);
}
.attribute--reaction .attribute__name {
  color: var(--light-red);
}

/* Memory */
.attribute--memory {
  background-color: var(--light-orangey-yellow);
}
.attribute--memory .attribute__name {
  color: var(--orangey-yellow);
}

/* Verbal */
.attribute--verbal {
  background-color: var(--light-green-teal);
}
.attribute--verbal .attribute__name {
  color: var(--green-teal);
}

/* Visual */
.attribute--visual {
  background-color: var(--light-cobalt-blue);
}
.attribute--visual .attribute__name {
  color: var(--cobalt-blue);
}

/* ** Button ** */
.card__button {
  display: block;
  margin: 3rem auto 0 auto;
  border: none;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--dark-gray-blue);
  border-radius: 30px;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 700;
}
.card__button:hover {
  background-image: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  cursor: pointer;
}